In [1]:
import pandas as pd

# GitHub raw URL for the CSV file
url = "https://raw.githubusercontent.com/CBDRH/hds-datathon-data/refs/heads/main/release/epiwatch-latest.csv"

# Read the CSV file from the URL into a pandas DataFrame
data = pd.read_csv(url)

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44099 entries, 0 to 44098
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             44099 non-null  object
 1   publication-date  44099 non-null  object
 2   event-date        9132 non-null   object
 3   country           44099 non-null  object
 4   location          26090 non-null  object
 5   lat_long          41639 non-null  object
 6   diseases          41792 non-null  object
 7   syndromes         4600 non-null   object
 8   url               44099 non-null  object
dtypes: object(9)
memory usage: 3.0+ MB

In [3]:
data.head()

,title,publication-date,event-date,country,location,lat_long,diseases,syndromes,url
0,90123 people sick in one day in the country; D...,2020-09-16,2017-09-16,India,NaN,"23.379, 79.443",covid19,NaN,https://www.manoramaonline.com/news/latest-new...
1,Ludhiana District remains at receiving end;,2020-09-16,2020-09-16,India,"Punjab, Ludhiana, Ludhiana","30.907, 75.849",other,severe acute respiratory syndrome,https://www.tribuneindia.com/news/ludhiana/lud...
2,CIDRAP - India's COVID-19 total tops 5 million...,2020-09-16,2020-09-16,India,NaN,"23.379, 79.443",covid19,NaN,https://flutrackers.com/forum/forum/local-regi...
3,[Myarklamiss.com] LOUISIANA - State reports 42...,2020-09-15,2020-09-15,United States,Louisiana,"30.186, -91.426",covid19,NaN,http://outbreaks.globalincidentmap.com/eventde...
4,[1010 WINS] NEW JERSEY - New Jersey reports 9 ...,2020-09-15,2020-09-15,United States,New Jersey,"39.613, -74.729",covid19,NaN,http://outbreaks.globalincidentmap.com/eventde...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44099 entries, 0 to 44098
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             44099 non-null  object
 1   publication-date  44099 non-null  object
 2   event-date        9132 non-null   object
 3   country           44099 non-null  object
 4   location          26090 non-null  object
 5   lat_long          41639 non-null  object
 6   diseases          41792 non-null  object
 7   syndromes         4600 non-null   object
 8   url               44099 non-null  object
dtypes: object(9)
memory usage: 3.0+ MB

In [5]:
data = data.drop_duplicates()

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43985 entries, 0 to 44098
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             43985 non-null  object
 1   publication-date  43985 non-null  object
 2   event-date        9080 non-null   object
 3   country           43985 non-null  object
 4   location          26024 non-null  object
 5   lat_long          41528 non-null  object
 6   diseases          41680 non-null  object
 7   syndromes         4585 non-null   object
 8   url               43985 non-null  object
dtypes: object(9)
memory usage: 3.4+ MB

In [8]:
data.isnull().sum()

title                   0
publication-date        0
event-date          34905
country                 0
location            17961
lat_long             2457
diseases             2305
syndromes           39400
url                     0
dtype: int64

In [9]:
data['location'] = data['location'].fillna('unknown')

In [10]:
data['diseases'] = data['diseases'].fillna('unknown')

In [11]:
data.isnull().sum()

title                   0
publication-date        0
event-date          34905
country                 0
location                0
lat_long             2457
diseases                0
syndromes           39400
url                     0
dtype: int64

In [12]:
data.isnull().sum()

title                   0
publication-date        0
event-date          34905
country                 0
location                0
lat_long             2457
diseases                0
syndromes           39400
url                     0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43985 entries, 0 to 44098
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             43985 non-null  object
 1   publication-date  43985 non-null  object
 2   event-date        9080 non-null   object
 3   country           43985 non-null  object
 4   location          43985 non-null  object
 5   lat_long          41528 non-null  object
 6   diseases          43985 non-null  object
 7   syndromes         4585 non-null   object
 8   url               43985 non-null  object
dtypes: object(9)
memory usage: 3.4+ MB

In [14]:
data['diseases'].value_counts()

diseases
covid19                                         21492
dengue                                           4429
Mpox                                             4124
avian influenza/unspecified                      3456
unknown                                          2496
                                                ...
covid19, measles, tuberculosis                      1
dengue, leishmaniasis                               1
malaria, measles, mumps                             1
dengue, malaria, leptospirosis, Scrub typhus        1
dengue, varicella, influenza, rat bite fever        1
Name: count, Length: 337, dtype: int64

In [15]:
data['diseases'] = data['diseases'].apply(lambda x: x.split(','))

In [16]:
target_diseases = {"covid19", "dengue", "Mpox", "legionnaires'", "measles", "cholera"}

# Function to clean and keep only the desired diseases
def keep_target_diseases(disease_list):
    filtered_diseases = [
        disease for disease in disease_list
        if disease.lower() in target_diseases or "influenza" in disease.lower()
    ]
    return filtered_diseases if filtered_diseases else None

# Apply the cleaning function to the 'diseases' column
data['diseases'] = data['diseases'].apply(keep_target_diseases)
df_filtered = data.dropna(subset=['diseases']).reset_index(drop=True)

In [17]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36577 entries, 0 to 36576
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             36577 non-null  object
 1   publication-date  36577 non-null  object
 2   event-date        8148 non-null   object
 3   country           36577 non-null  object
 4   location          36577 non-null  object
 5   lat_long          34557 non-null  object
 6   diseases          36577 non-null  object
 7   syndromes         1629 non-null   object
 8   url               36577 non-null  object
dtypes: object(9)
memory usage: 2.5+ MB

In [18]:
df_filtered.to_csv('filter_1.csv', index=False)

In [19]:
df_filtered['diseases'].value_counts()

diseases
[covid19]                                            21722
[dengue]                                              4650
[avian influenza/unspecified]                         3458
[influenza]                                           1202
[influenza a/h5n1]                                    1016
                                                     ...
[influenza,  influenza a/h5n8,  influenza a/h5n6]        1
[measles,  influenza b]                                  1
[influenza a/h3n5]                                       1
[ influenza,  influenza a/h5n8]                          1
[ avian influenza/unspecified]                           1
Name: count, Length: 71, dtype: int64

In [20]:
unique_diseases = set(disease for disease_list in df_filtered['diseases'] for disease in disease_list)

# Convert to a sorted list (optional)
unique_diseases = sorted(unique_diseases)
unique_diseases

[' Influenza A',
 ' avian influenza/unspecified',
 ' influenza',
 ' influenza a/h1n1',
 ' influenza a/h1n2',
 ' influenza a/h3n2',
 ' influenza a/h3n8',
 ' influenza a/h5n1',
 ' influenza a/h5n6',
 ' influenza a/h5n8',
 ' influenza a/h9n2',
 ' influenza b',
 ' influenza/h5n2',
 ' influenza/h5n5',
 'Influenza A',
 'avian influenza/unspecified',
 'cholera',
 'covid19',
 'dengue',
 'influenza',
 'influenza a/h10n3',
 'influenza a/h1n1',
 'influenza a/h1n2',
 'influenza a/h2n2',
 'influenza a/h3n2',
 'influenza a/h3n5',
 'influenza a/h3n8',
 'influenza a/h5n1',
 'influenza a/h5n6',
 'influenza a/h5n8',
 'influenza a/h7n3',
 'influenza a/h7n9',
 'influenza a/h9n2',
 'influenza b',
 'influenza/h5n2',
 'influenza/h5n5',
 "legionnaires'",
 'measles']

In [21]:
df_filtered['syndromes'] = df_filtered['syndromes'].apply(lambda x: [] if pd.isna(x) else x.split(','))

In [22]:
df_filtered['syndromes'].value_counts()

syndromes
[]                                                                          34948
[severe acute respiratory syndrome]                                          1060
[severe acute respiratory syndrome,  Influenza-like illness]                  183
[Haemorrhagic Fever]                                                          161
[Influenza-like illness]                                                       54
[pneumonia]                                                                    50
[Acute gastroenteritis]                                                        50
[Febrile syndromes]                                                            35
[Influenza-like illness,  Febrile syndromes]                                   13
[Meningitis]                                                                    6
[severe acute respiratory syndrome,  Febrile syndromes]                         4
[Acute fever and rash]                                                          2
[Febrile syndromes,  pneumonia]                                                 2
[Acute gastroenteritis,  Febrile syndromes]                                     2
[Acute gastroenteritis,  Influenza-like illness]                                1
[Acute gastroenteritis,  Influenza-like illness,  Febrile syndromes]            1
[Fatigue]                                                                       1
[Acute gastroenteritis,  pneumonia]                                             1
[Acute Flaccid Paralysis]                                                       1
[severe acute respiratory syndrome,  Influenza-like illness,  pneumonia]        1
[Encephalitis]                                                                  1
Name: count, dtype: int64

In [23]:
df_filtered[['diseases', 'syndromes']]

        diseases syndromes
0      [covid19]        []
1      [covid19]        []
2      [covid19]        []
3      [covid19]        []
4      [covid19]        []
...          ...       ...
36572   [dengue]        []
36573   [dengue]        []
36574  [covid19]        []
36575  [covid19]        []
36576  [covid19]        []

[36577 rows x 2 columns]

In [24]:
data['diseases'].value_counts()

diseases
[covid19]                                            21722
[dengue]                                              4650
[avian influenza/unspecified]                         3458
[influenza]                                           1202
[influenza a/h5n1]                                    1016
                                                     ...
[influenza,  influenza a/h5n8,  influenza a/h5n6]        1
[measles,  influenza b]                                  1
[influenza a/h3n5]                                       1
[ influenza,  influenza a/h5n8]                          1
[ avian influenza/unspecified]                           1
Name: count, Length: 71, dtype: int64

In [25]:
data['syndromes'].value_counts()

syndromes
Acute gastroenteritis                                                              1261
severe acute respiratory syndrome                                                  1246
Febrile syndromes                                                                   483
Tomato fever                                                                        308
Influenza-like illness                                                              264
Haemorrhagic Fever                                                                  211
pneumonia                                                                           205
severe acute respiratory syndrome, Influenza-like illness                           189
Meningitis                                                                          115
Acute fever and rash                                                                 62
Encephalitis                                                                         56
Acute gastroenteritis, Febrile syndromes                                             47
Influenza-like illness, Febrile syndromes                                            27
conjunctivitis                                                                       17
Jaundice                                                                             15
Acute Flaccid Paralysis                                                              13
severe acute respiratory syndrome, Febrile syndromes                                  8
Acute gastroenteritis, Influenza-like illness                                         7
hemolytic uremic syndrome                                                             7
Acute gastroenteritis, pneumonia                                                      7
Febrile syndromes, Encephalitis                                                       4
Febrile syndromes, pneumonia                                                          4
Haemorrhagic Fever, Encephalitis                                                      3
Acute gastroenteritis, severe acute respiratory syndrome                              3
Acute gastroenteritis, Acute fever and rash                                           3
Acute gastroenteritis, Influenza-like illness, Febrile syndromes                      2
Febrile syndromes, Meningitis                                                         2
severe acute respiratory syndrome, Acute fever and rash                               2
Haemorrhagic Fever, severe acute respiratory syndrome, Acute fever and rash           1
severe acute respiratory syndrome, Influenza-like illness, Acute fever and rash       1
Haemorrhagic Fever, Acute gastroenteritis                                             1
Influenza-like illness, Encephalitis                                                  1
Influenza-like illness, pneumonia                                                     1
melioidosis                                                                           1
Fatigue                                                                               1
severe acute respiratory syndrome, Influenza-like illness, pneumonia                  1
Acute gastroenteritis, Meningitis                                                     1
other paralysis                                                                       1
Febrile syndromes, conjunctivitis                                                     1
Encephalomyelitis                                                                     1
Acute Flaccid Paralysis, Febrile syndromes, Meningitis                                1
severe acute respiratory syndrome, pneumonia                                          1
Name: count, dtype: int64

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43985 entries, 0 to 44098
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             43985 non-null  object
 1   publication-date  43985 non-null  object
 2   event-date        9080 non-null   object
 3   country           43985 non-null  object
 4   location          43985 non-null  object
 5   lat_long          41528 non-null  object
 6   diseases          36577 non-null  object
 7   syndromes         4585 non-null   object
 8   url               43985 non-null  object
dtypes: object(9)
memory usage: 3.4+ MB

In [ ]:
bre

In [2]:
import pandas as pd
df = pd.read_csv('argos_translate.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21464 entries, 0 to 21463
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             21464 non-null  object
 1   publication-date  21464 non-null  object
 2   event-date        4376 non-null   object
 3   country           21464 non-null  object
 4   location          21464 non-null  object
 5   lat_long          20449 non-null  object
 6   diseases          21464 non-null  object
 7   syndromes         859 non-null    object
 8   url               21464 non-null  object
 9   is_available      21464 non-null  bool
 10  extracted         21464 non-null  object
dtypes: bool(1), object(10)
memory usage: 1.7+ MB

In [3]:

df = df[df['extracted'] != 'ClientError']
df = df[df['extracted'] != 'Translation failed']
df = df[df['extracted'] != 'Unknown']
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10521 entries, 0 to 21463
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             10521 non-null  object
 1   publication-date  10521 non-null  object
 2   event-date        2194 non-null   object
 3   country           10521 non-null  object
 4   location          10521 non-null  object
 5   lat_long          10042 non-null  object
 6   diseases          10521 non-null  object
 7   syndromes         399 non-null    object
 8   url               10521 non-null  object
 9   is_available      10521 non-null  bool
 10  extracted         10521 non-null  object
dtypes: bool(1), object(10)
memory usage: 914.4+ KB

In [4]:
# Save the filtered DataFrame to a new CSV
df.to_csv('cleaned_argos_translate.csv', index=False)